
.homeParent {
    display: flex;
    flex-direction: row;
}

.parentSlogan {
    display: flex;
    flex-direction: row;
}

#ventilatorBild {
    display: flex;
    width: 33%;
    margin-left: 18%;
    margin-top: 7%;
    border: 3px solid black;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.titleHome {
    display: flex;
    font-size: 300%;
    margin-left: 0;
    margin-top: 13%;
}

.slogan {
    display: flex;
    font-size: 200%;
    padding-left: 7%;
    margin-top: 15%;
}

.timer {
    display: flex;
    font-size: 600%;
    padding-left: 7%;
}

iframe {
    display: flex;
    font-size: 350% !important;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 7%;
    margin-top: -15%;
    height: auto;
}

.form-check {
    display: flex;
    margin-left: 7%;
    font-size: 150%;
    margin-top: -3%;
}

.kaktusIcon {
    display: flex;
    width: 20%;
    margin-left: 20%;
}

@media (max-width: 1080px) {
    .homeParent {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .timer {
        font-size: 400%;
        padding-left: 0;
    }

    #ventilatorBild {
        width: 50%;
        margin-left: 0;
    }

    iframe {
        margin-top: -1%;
        font-size: 200% !important;
    }

    .form-check {
        font-size: 120%;
        margin-top: -6%;
    }


    nav {
        flex-direction: column;
        gap: 15px;
    }

    nav a {
        font-size: 16px;
    }

    footer {
        position: relative;
        font-size: 12px;
    }

    #ventilatorBild {
        width: 300px;
        max-width: 300px;
        height: auto;
    }
}


@media (max-width: 768px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    #ventilatorBild {
        width: 200px;
        max-width: 200px;
        height: auto;
        margin-bottom: 35px;
    }

    nav {
        gap: 8px;
    }

    nav a {
        font-size: 12px;
    }

    footer {
        position: relative;
        font-size: 12px;
    }

    iframe {
        margin-top: -1%;
        font-size: 50% !important;
        width: 90%;
        justify-self: center;
    }

    .form-check {
        font-size: 70%;
        margin-top: -6%;
    }


    .timer {
        font-size: 200%;
        padding-left: 0;
        margin-top: 20px;
    }

    .slogan {
        font-size: 14px;
    }

    .kaktusIcon {
        width: 30%;
        height: 5%;
    }

    .titleHome {
        font-size: 14px;
    }

}