.title_infos {
    margin-bottom: 40px;
    margin-left: 7%;
    margin-top: 5%;
}

.uebersicht{
    display: flex;
    flex-direction: row;
}

.infos {
    display: flex;
    flex-direction: column;
    padding-left: 7%;
}

#profilVentilator{
    display: flex;
    width: 30%;
    border: 3px solid black;
    border-radius: 15px;
    margin-left: 40%;
    margin-top: -4%;
    margin-bottom: 5%;
}

@media (max-width: 1024px) {

    nav {
        flex-direction: column;
        gap: 15px;
    }

    nav a {
        font-size: 16px;
    }

    footer {
        position: relative;
        font-size: 12px;
    }

    #profilVentilator {
        width: 300px;
        max-width: 300px;
        height: auto;
        margin-bottom: 3%;
    }

    h1{
        font-size: 60px;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 30px;
    }

    #profilVentilator {
        width: 200px;
        max-width: 200px;
        height: auto;
    }

    nav {
        gap: 8px;
    }

    nav a {
        font-size: 12px;
    }

}
