body {
    font-family: "Lucida Handwriting", serif;
    background-color: palegoldenrod;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 100px;
    text-align: center;
    text-decoration: underline;
    font-family: "Book Antiqua", serif;
}

/* Header Layout */
header {
    display: flex;
    justify-content: space-between;
    background: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
    border-radius: 10px;
    border: 3px solid #333333;
    position: relative;
    flex-wrap: wrap;
}

main {
    flex: 1
}

/* Logo */
#logo {
    height: 70px;
    width: auto;
}

/* Navigation Container */
.nav-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Navigation */
nav {
    display: flex;
    gap: 50px;
}

/* Links */
nav a {
    text-decoration: none;
    color: black;
    font-weight: 1000;
    font-size: larger;
}

nav a:hover {
    color: deeppink;
}

/* Footer */
footer {
    position: relative;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    background: #C1E1C1;
    padding: 10px;
    gap: 5px;
    text-align: center;
    align-items: center;
    font-size: 15px;
    border-radius: 10px;
    border: 3px solid #333333;
    width: 100%;
}

#instalogo, #tiktoklogo, #twitterlogo {
    height: 20px;
    width: auto;
    margin-right: 3px;

}

#instalogo {
    margin-left: 40px;
}


@media (max-width: 1024px) {
    header {
        flex-direction: column;
        text-align: center;
    }


    footer {
        position: relative;
        font-size: 12px;
    }
}


@media (max-width: 768px) {
    header {
        padding: 15px;
    }

    footer {
        position: relative;
        font-size: 12px;
    }
}
