

body {
    font-family: "Lucida Handwriting";
    background-color: palegoldenrod;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 100px;
    text-align: center;
    text-decoration: underline;
    font-family: "Book Antiqua";
}


header {
    display: flex;
    background: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
    border-radius: 10px;
    border: 3px solid #333333;
}

#logo {
    height: 70px;
    width: auto;
}

nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 100px;
}

nav a {
    text-decoration: none;
    align-items: center;
    color: black;
    font-weight: 1000;
    font-size: larger;

}

nav a:hover {
    color: deeppink;
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background: #C1E1C1;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    border-radius: 10px;
    border: 3px solid #333333;
}


/*body {
           font-family: "Lucida Handwriting";
           background-color: palegoldenrod;
           margin: 0;
           padding: 0;
       }
h1{
   font-size: 100px;
   text-align: center;
   position: relative;
   text-decoration: underline;
   font-family: "Book Antiqua";
}

img{
   height: 70px;
   width: auto;
}


       header {
           display: flex;
           background: white;
           padding: 20px;
           margin: 7px;
           box-shadow: 0 4px 8px rgba(0,0,0,0.1);
           justify-content: space-around;
           align-items: center;
           border-radius: 10px;
           border-color: #333333;
           border-style: solid;


       }

       nav a {
           text-decoration: none;
           color: black;
           font-weight: 1000;
           font-size: large;
           margin: 0 20px;
           position: relative;


       }

       nav a:hover{
           color: deeppink;
       }

       #logo{
           position: relative;
           right: 200px;
       }
       .row{
           display: flex;
           flex-direction: column;
           gap: 20px;
       }

       .container {
           justify-content: center;
           align-items: center;
       }

       .div-hauptcontainer, .div-container1, .div-container2 {
           background-color: #C1E1C1;
           border-radius: 20px;
           box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
           border: 3px solid black;
           text-align: center;



       }
       .div-hauptcontainer{
           width: 25%;
           height: 180px;
           margin-left: 800px;
       }
       .div-container1{
           width: 25%;
           height: 185px;
           margin-left: 1800px;



       }

       .div-container2{
           width: 25%;
           height: 180px;
           margin-left: 800px;
       }


       .bild-container {
           display: flex;
           justify-content: center;



       }

       #kaktusbild {
           width: 20%;
           height: 225px;
           border: 3px solid #333333;
           position: relative;
           border-radius: 20px;
           margin-left: 1800px;


       }




       footer {
           background: #C1E1C1;
           padding: 10px;
           text-align: center;
           font-size: 15px;
           border-radius: 10px;
           position: absolute;
           width: 100%;
           bottom: 0;

       }


