.parent {
    display: flex;
    flex-direction: row;
}

.ueber_uns_container {
    font-family: sans-serif, "Times New Roman";
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    padding-left: 4%;
    padding-right: 4%;
    border: 3px solid black;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 40%;
    max-width: 500px;
    margin-left: auto;
    margin-right: 5%;
    margin-bottom: 3.5%;
    background-color: #C1E1C1;
}

h2 {
    font-family: "Lucida Handwriting", "DejaVu Sans Mono", serif;
    display: flex;
    text-align: center;
    font-size: 60px;
    text-decoration: underline;
    justify-content: center;
    align-content: center;
    padding-bottom: 3%;
    padding-top: 1%;
}

#ueberuns_bild {
    display: flex;
    width: 40%;
    padding-left: 5%;
    padding-bottom: 5%;
    margin-top: auto;
}

@media (max-width: 1024px) {

    nav {
        flex-direction: column;
        gap: 15px;
    }

    nav a {
        font-size: 16px;
    }

    footer {
        position: relative;
        font-size: 12px;
    }

    #ueberuns_bild {
        width: 45%;
        max-width: 300px;
        height: auto;
    }
}


@media (max-width: 768px) {
    h1 {
        font-size: 30px;
    }

    #kaktusbild {
        width: 45%;
        max-width: 300px;
        height: auto;
    }

    nav {
        gap: 8px;
    }

    nav a {
        font-size: 12px;
    }

}
