.parent {
    display: flex;
    flex-direction: row;
}

.ueber_uns_container {
    font-family: sans-serif, "Times New Roman";
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-left: 4%;
    padding-right: 4%;
    border: 3px solid black;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 40%;
    max-width: 500px;
    margin-left: auto;
    margin-right: 5%;
    margin-bottom: 3.5%;
    background-color: #C1E1C1;
}

h2 {
    font-family: "Book Antiqua", serif;
    display: flex;
    text-align: center;
    font-size: 100px;
    text-decoration: underline;
    justify-content: center;
    align-content: center;
    padding-bottom: 3%;
    padding-top: 1%;
    margin: 0;
}

#ueberuns_bild {
    display: flex;
    width: 40%;
    padding-left: 5%;
    padding-bottom: 5%;
    margin-top: auto;

}

@media (max-width: 1024px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    nav {
        flex-direction: column;
        gap: 15px;
    }

    nav a {
        font-size: 16px;
    }

    .parent {
        flex-direction: column;

    }


    footer {
        position: relative;
        font-size: 12px;
    }

    .ueber_uns_container {
        width: 70%;
        height: auto;
        margin-right: 5%;
        margin-left: 15%;
        padding-left: 6%;
        padding-right: 6%;
        margin-bottom: 15%;

    }

    #ueberuns_bild {
        width: 50%;
        max-width: 300px;
        height: auto;
        margin-top: 20px;
    }
}

@media (max-width: 768px) {

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }



    h1 {
        font-family: "Book Antiqua", serif;
        font-size: 35px;
        margin-top: 20px;


    }

    #kaktusbild {
        width: 55%;
        margin-right: 20%;
        max-width: 300px;
        height: auto;
    }

    nav {
        gap: 8px;
    }


    nav a {
        font-size: 12px;
    }

    .parent {
        flex-direction: column;

    }

    .ueber_uns_container {
        width: 70%;
        height: 70%;
        margin-right: 5%;
        margin-left: 15%;
        padding-left: 8%;
        padding-right: 8%;
        margin-bottom: 15%;


    }

    #ueberuns_bild {
        width: 70%;
        max-width: 250px;
        margin-left: 15.5%;

    }
}


