.warenkorb-titel {
    padding-left: 11%;
    padding-top: 2%;
}

.img1 {
    width: 300px;
    border: 3px solid black;
    border-radius: 10px;
}
.product-container {
    display: flex;
    flex-direction: row;
    gap: 50px;
    border-color: black;
    border-style: solid;
    border-radius: 30px;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.pay-button {
    background-color: #C1E1C1;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

.summary-box {
    border: solid black 2px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 200px;
}

.kaktuspreis {
    padding-left: 100px;
    margin-top: 100px;
}