h1{
    padding-top: 60px;
    text-decoration: none;
    font-size: 65px;
    font-family: "Lucida Handwriting";
}

h2{
    font-family: "Lucida Handwriting";
    font-size: 30px;
    text-align: center;
}

#logo2{
    width: 40%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding-bottom: 60px;
}
