.warenkorb-titel {
    padding-left: 11%;
    padding-top: 2%;
}

.img1 {
    width: 300px;
    border: 3px solid black;
    border-radius: 10px;
}
.product-container {
    display: flex;
    flex-direction: row;
    gap: 50px;
    border-color: black;
    border-style: solid;
    border-radius: 30px;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.pay-button {
    background-color: #C1E1C1;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

.summary-box {
    border: solid black 2px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 200px;
}

.kaktuspreis {
    padding-left: 100px;
    margin-top: 100px;
}

@media (max-width: 1024px) {

    nav {
        flex-direction: column;
        gap: 15px;
    }

    nav a {
        font-size: 16px;
    }

    footer {
        position: relative;
        font-size: 12px;
    }

    #img1 {
        width: 300px;
        max-width: 300px;
        height: auto;
        margin-bottom: 3%;
    }

    .container{
        position: relative;
    }

    h1 {
        font-size: 60px;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 30px;
    }

    #img1{
        width: 150px;
        max-width: 150px;
        height: auto;
    }

    nav {
        gap: 8px;
    }

    nav a {
        font-size: 12px;
    }

    .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 5%;
    }

    .product-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .summary-box {
        width: 80%;
        text-align: center;
        margin-top: 20px;
    }

    .kaktuspreis {
        padding-left: 0;
        margin-top: 20px;
    }

}
