h1{
    padding-top: 60px;
    text-decoration: none;
    font-size: 65px;
    font-family: "Lucida Handwriting";
}

h2{
    font-family: "Lucida Handwriting";
    font-size: 30px;
    text-align: center;
}

#logo2{
    width: 40%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding-bottom: 60px;
}

@media (max-width: 1024px) {

    nav {
        flex-direction: column;
        gap: 15px;
    }

    nav a {
        font-size: 16px;
    }

    footer {
        position: relative;
        font-size: 12px;
    }

    #logo2 {
        width: 350px;
        max-width: 300px;
        height: auto;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 30px;
    }

    #logo2 {
        width: 200px;
        max-width: 200px;
        height: auto;
    }

    nav {
        gap: 8px;
    }

    nav a {
        font-size: 12px;
    }

}
