<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}KaktusKumpels{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    {% block style %}{% endblock %}
</head>
<body>

<header>
    <a href="{{ url_for('home') }}" id="logo">
        <img src="{{ url_for('static', filename='Kaktus_Kumpels_logo.png') }}" id="logo" alt="KaktusKumpels Logo"
             height="40">
    </a>
    <div class="nav-container">
        <nav>
            <a href="{{ url_for('home') }}">Produkt</a>
            <a href="{{ url_for('ueber_uns') }}">Über uns</a>
            <a href="{{ url_for('contact') }}">Kontakt</a>
            <a href="{{ url_for ('registrierung') }}">Registrierung</a>
            <a href="#">Warenkorb</a>
        </nav>
    </div>
</header>

<main>
    {% block content %}{% endblock %}
</main>


<footer>
    <p>AGB | Datenschutzerklärung | &copy; 2025 KaktusKumpels</p>
    <img src="{{ url_for('static', filename='instagramlogo.png') }}" id="instalogo" alt="instagramlogo">
    <img src="{{ url_for('static', filename='tiktoklogo.png') }}" id="tiktoklogo" alt="tiktoklogo">
    <img src="{{ url_for('static', filename='Twitter.png') }}" id="twitterlogo" alt="twitterlogo">
</footer>
</body>

</html>
