{% extends 'base.html' %}

{% block title %}Bezahlseite{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='bezahlseite.css') }}">
{% endblock %}

{% block content %}
    <body>
    <h1>Bestellung aufgeben</h1>
    <div class="zahlungsweisen">
        <h2>Zahlungsweise</h2>
        <div class="arten">
            <div class="karte">
                <h2>Per Kredit-oder Debitkarte</h2>
                <form action="{{ url_for('bezahlseite') }}" method="post">
                    <label>
                        <input type="text" name="kartennummer" placeholder="Kartennummer" required pattern="\d{16}" title="Die Kartennummer muss 16 Ziffern beinhalten.">
                        <input type="text" name="sicherheitscode" placeholder="Sicherheitscode" required pattern="\d{3}" title="Der Sicherheitscode muss 3 Ziffern beinhalten.">
                        <input type="text" name="name" placeholder="Name auf der Karte" required >
                        <input type="text" name="ablaufdatum" placeholder="Ablaufdatum" required pattern="^(0[1-9]|1[0-2])\/[0-9]{2}$" title="Falsches Format (mm/YY)">
                            <button type="submit">Weiter</button>

                    </label>
                </form>
            </div>
            <div class="rechnung">
                <h2>Rechnung</h2>
                <form action="{{ url_for('bezahlseite1') }}" method="post">
                    <label>
                        <input type="text" name="adresse" placeholder="Adresse" required>
                        <input type="text" name="nachname" placeholder="Nachname" required>
                        <input type="text" name="vorname" placeholder="Vorname" required>
                        <input type="email" name="email" placeholder="Email" required>

                            <button type="submit">Weiter</button>

                    </label>
                </form>
            </div>
            <div class="bitcoin">
                <h2>Per Bitcoin</h2>
                <p>BTC-Adresse: hurFzD34j4k3l323</p>
                <img src="{{ url_for('static' , filename='QR--Code.png') }}" id="qr-code" alt="qr-code">
            </div>
        </div>
    </div>

    </body>

{% endblock %}