{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    </head>
    <div class="homeParent">
        <p class="timer">Time until<br>Release:</p>
        <img src="/static/Ventiator.jpg" id="ventilatorBild">
    </div>
    <div class="countdown">
        <p>{{ days }} d : {{ hours }} h : {{ minutes }} min : {{ seconds }} sec</p>
    </div>
    <div class="parentSlogan">
        <p class="slogan">"Ein Hauch<br>von Frische"</p>
        <p class="titleHome">Arctic<br>Air 2.0</p>
    </div>

{% endblock %}
