{% extends 'base.html' %}

{% block title %}Profilübersicht{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='profilübersicht.css') }}">
{% endblock %}

{% block content %}
    <title>Profilübersicht</title>
    <body>
    <h1>Deine Profilübersicht</h1>
    <div class="title_infos">
        <h2>Ihre Bestellungen:</h2>
    </div>
    <div class="uebersicht">
        <div class="infos">
            <p>Bestelldatum: 06.03.25</p>
            <p>Summe: 1008.90.- CHF</p>
            <p>Bezahlstatus: offen</p>
            <p>Zustellungsdatum: 10.03.25</p>
        </div>
        <img src="/static/Ventiator.jpg" id="profilVentilator">
    </div>
    </body>
{% endblock %}
