{% extends 'base.html' %}

{% block title %}Profilübersicht{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='profilübersicht.css') }}">
{% endblock %}

{% block content %}
    <body>
    <h1>Deine Profilübersicht</h1>
    {% if bestellungen %}
        <div class="infos">
            <h2>Ihre Bestellungen:</h2>
            <ul>
                {% for bestellung in bestellungen %}
                    <strong>Produkt:</strong> {{ bestellung.Produkt }} <br>
                    <strong>Bestelldatum:</strong> {{ bestellung.Bestelldatum }} <br>
                    <strong>Status:</strong> {{ bestellung.Bezahlstatus }} <br>
                    <strong>Preis:</strong> {{ bestellung.Preis }} <br>
                    <p>-------------------------------------</p>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <p>Du hast noch keine Bestellungen getätigt.</p>
    {% endif %}

    <img src="/static/Ventiator.jpg" id="profilVentilator">

    </body>
{% endblock %}
