{% extends 'base.html' %}

{% block title %}Profilübersicht{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='profilübersicht.css') }}">
{% endblock %}

{% block content %}
    <title>Profilübersicht</title>
    <body>
    <h1>Deine Profilübersicht</h1>
    <div class="title_infos">
        <h2>Ihre Bestellungen:</h2>
    </div>
    <div class="infos">
        <p>Bestelldatum: 06.02.25</p>
        <p>Summe: 29 CHF</p>
        <p>Bezahlstatus: offen</p>
        <p>Zustellungsdatum: 30.02.25</p>
    </div>
{% endblock %}
