{% extends 'base.html' %}



{% block title %}Warenkorb{% endblock %}

{% block content %}
        <link rel="stylesheet" href="{{ url_for('static', filename='warenkorb.css') }}">
    </div>

    <h2 style="padding: 20px;">Ihr Warenkorb</h2>

    <div class="container">
        <div class="product-container">
            <img src="{{ url_for('static', filename='Ventiator.jpg') }} " class="img1">
            <div class="kaktuspreis">
                <p><b>Name:</b> Arctic Air 2.0</p>
                <p><b>Preis:</b> 999.- CHF</p>
            </div>
        </div>

        <div class="summary-box">
            <p>Zwischensumme: 999.- CHF </p>
            <p>Versand: 9.90.- CHF</p>
            <p><b>Gesamtsumme: 1008.90.- CHF</b></p>
            <button class="pay-button">Bezahlen</button>
        </div>
    </div>



{% endblock %}