{% extends 'base.html' %}



{% block title %}Warenkorb{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='warenkorb_bezahlen.css') }}">
    </div>

    <h2 class="warenkorb-titel">Ihr Warenkorb</h2>

    <div class="container">
        <div class="product-container">
            <img src="{{ url_for('static', filename='Ventiator.jpg') }} " class="img1">
            <div class="kaktuspreis">
                <p><b>Name:</b> Arctic Air 2.0</p>
                <p><b>Preis:</b> 999.- CHF</p>
            </div>
        </div>
        <div class="summary-box">
            <p>Zwischensumme: 999.- CHF</p>
            <p>Versand: 9.90.- CHF</p>
            <p><b>Gesamtsumme: 1008.90.- CHF</b></p>

            <form method="POST" action="{{ url_for('warenkorb_bezahlen') }}">
                <label>
                    <input type="number" name="amount" placeholder="Anzahl" required>
                </label>

                <a href="{{ url_for('bezahlseite') }}">
                    <button class="pay-button">Bezahlen</button>
                </a>
            </form>

            {% if error %}
                <p style="color: red"> {{ error }}</p>
                <div class="anmeldung">
                    <a href="{{ url_for('anmelden') }}">Melde dich hier an</a>
                </div>
            {% endif %}


        </div>
    </div>
{% endblock %}